@()

@main("", Some("about"), None) {
	<h1>About this site</h1>
	<p>
		The hosts of <a href="http://noagendashow.com">The No Agenda Show</a> have a theory that the 
		number '33' is routinely inserted into news stories as code.  Code for what? They aren't sure.
		Maybe it means that the 
		<a href="http://www.homemediamagazine.com/paramount/home-entertainment-up-33-paramount-24707">rest of the news story is bogative</a>,
		or maybe 
		<a href="http://www.huffingtonpost.com/2013/06/18/michael-hastings-dead_n_3462278.html">it means 'mission accomplished'</a>,
		or it is just a 
		<a href="http://www.forbes.com/sites/charleskadlec/2012/02/06/the-federal-reserves-explicit-goal-devalue-the-dollar-33/">flag to alert people in-the-know to take heed</a>.
	</p>
	<p>
		Whatever the meaning of these numbers, this site is designed to find any such stories, and list 
		them.  It is up to you to decipher the meaning!
	</p> 
	
	<h2>Contact</h2>
	<p>You can contact me using <a href="http://kaeding.name/contact/">the form on my web site</a> or
	by emailing: patrick at kaeding dot name.
}