@(a: NewsArticle)

<article>
	<h2><a href="@a.link">@a.headline</a></h2>
	<div class="date pull-right"><time class="pubdate" datetime="@a.pubDate">@a.pubDate</time></div>
	<div class="news-source">@NewsSource.fromKey(a.source).name</div>
	<div class="snippets">
		@for(s <- a.snippets) {
			@snippet(s)
		}
	</div>
</article>