@(message: String, articles: Page[NewsArticle], activeSource: Option[NewsSource.Id])(implicit request: Request[Any])

@import site.util.TemplateHelpers._
@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("js/listing").url)
@defining(Some(activeSource.map(routes.Application.singleSourceFeed(_)).getOrElse(routes.Application.fullFeed).absoluteURL())) { feedUrl =>
	@main(message, Some("latest"), feedUrl) {
	    <span class="total-count">@articles.total Article@if(articles.total != 1){s}</span> from
	    <div class="btn-group">
	      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	      	@activeSource.map(s => {
	      	  NewsSource.fromKey(s).name
	        }).getOrElse("All Sources")
	        <span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu">
	        <li><a href="@routes.Application.index">All Sources</a></li>
	        <li class="divider"></li>
	        @for(s <- allSources) {
	          <li><a href="@routes.Application.singleSource(s.id)">@s.name</a></li>
	        }
	      </ul>
	    </div>
	    <a href="@feedUrl"><img src="@routes.Assets.at("img/feed-icon-28x28.png")" alt="RSS Feed" title="RSS Feed"></a>
	    <div class="articles">
	    @for(a <- articles.as) {
		  @article(a)
		}
		</div>
	    
	    <ul class="pager">
		  @if(articles.showNext) {
		  	<li class="previous">
		    	<a href="@articles.nextParams">&larr; Older</a>
		  	</li>
		  } else {
		    <li class="previous disabled">
		    	<span>&larr; Older</span>
		  	</li>
		  }
		  @if(articles.showBack) {
		    <li class="next">
		    	<a href="@articles.backParams">Newer &rarr;</a>
		  	</li>
		  } else {
		    <li class="next disabled">
		    	<span>Newer &rarr;</span>
		  	</li>
		  }
		</ul>
	}
}