.navbar .navbar-inner {
  background: transparent url(../img/background.png) top left repeat-x;
  border-color: transparent;
}
.navbar .brand {
  padding: 0px 10px;
}
.navbar-inverse .nav>li>a {
  color: #444;
}
.magic-number {
  font-weight: bolder;
}